<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>USERS</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
</head>

<body>
  <header class="main-header">
    <ul class="main-navigation__list">
      <li class="main-navigation__item"><a href="/">ROOT</a></li>
      <li class="main-navigation__item"><a href="/users">USERS</a></li>
    </ul>
  </header>
  <main>
    <h1>Página USERS</h1>
  </main>
  <script src="js/user.js"></script>
</body>

</html>